<app-header titulo="Refresher"></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <p>Pull this content down to trigger the refresh.</p> -->
  <ion-list *ngIf="items.length>0">
    <ion-item *ngFor="let item of items;let i=index" class="animate__animated animate__fadeIn animate__faster	800ms">
      <ion-label>Item:{{i+1}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>