<app-header titulo="Toast"></app-header>

<ion-content>
  <ion-button expand="block" (click)="presentToast('top')">Present Toast At the Top</ion-button>
  <ion-button expand="block" (click)="presentToast('middle')">Present Toast At the Middle</ion-button>
  <ion-button expand="block" (click)="presentToast('bottom')">Present Toast At the Bottom</ion-button>

  <ion-button (click)="presentToastWithOptions()">Click Me</ion-button>
  <p>{{ handlerMessage }}</p>
  <p>{{ roleMessage }}</p>
</ion-content>